.DS_Store
data/
CAT/
reports/2_CAM_outputs/

GEO/
!scripts/helpers.py
scripts/

.Rhistory
notebooks/.ipynb_checkpoints
notebooks/0[1-3]*
reports/0[1-3]*.html
reports/figures/03_figures_R.Rmd
reports/clusterprofiles.key